* {
    margin: 0;
    padding: 0;
}

header {

    background-color: #f6f6f6;
    width: 80vw;
    margin: 15px 10vw;
    border: 1px solid grey;
    border-radius: 5px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav div img {
    padding: 10px;
    height: 50px;
    width: 135px;
}

nav div ul {
    display: flex;
    padding: 0 15px;
    gap: 20px;
}

nav div ul li {
    list-style: none;
}

nav div:nth-child(3) {
    display: flex;
}

.btn {
    margin: 10px;
    border: none;
    background-color: #ffd741;
    border-radius: 4px;
    padding: 4px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn1 {
    width: 80px;
    height: 40px;
}

main {
    width: 80vw;
    margin: 50px 10vw;
}

.sec1 {
    align-items: center;
    text-align: center;
    font-family: Inter, Helvetica, Arial, Lucida, sans-serif;
    display: flex;
    flex-direction: column;
}


.img {
    padding: 15px;
}

.sec1 p:nth-child(1) {
    display: flex;
    align-items: center;
    padding: 10px;
    font-weight: 50%;
    font-size: 48px;
}

.sec1 p1 {
    padding-top: 35px;
    font-weight: 25%;
    width: 45vw;
    font-size: 22px;
    color: gray;
}

.btn2 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    width: 331px;
    height: 52px;
    padding: 25px;
    margin: 35px;
}

main div p2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 23px;
    color: #808080;
}

main div div p2 h3 {
    font-size: 23px;
    margin: 5px;
}

.sec2 {
    /* width: 80vw; */
    font-family: Inter, Helvetica, Arial, Lucida, sans-serif;
    display: grid;
    justify-content: center;
    row-gap: 10px;
    column-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr 1fr 1fr; */
}

.box h3 {
    font-size: 20px;
    margin: 10px;
}

.box h4 {
    font-size: 18px;
}

p4 {
    padding: 5px;
    font-size: 10px;
}

p5 {
    font-size: 8px;
    padding: 10px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    max-width: 425px;
    background-color: #f2f0ec;
    text-align: center;
    margin: 10px;
    padding: 15px;
    border-radius: 8px;
    font-size: 10px;
}

.btn3 {
    padding: 10px;
    border-radius: 8px;
    font-size: 18px;
}

.btn:hover {
    transform: scale(1.1);
    background-color: rgb(255, 198, 136);
    color: rgb(255, 0, 0);
}

@media only screen and (max-width: 1200px) {
    .sec2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 20px;
    }

    .box {
        margin: auto;
    }
}

@media only screen and (max-width: 880px) {
    .sec2 {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .box {
        margin: auto;
    }
}

.blue-but {
    background-color: aqua;
    color: rgb(0, 0, 0);
    border-radius: 6px;
    height: 35px;
    width: 120px;
}

.green-but {
    background-color: rgb(3, 255, 83);
    color: rgb(0, 0, 0);
    border-radius: 6px;
    height: 35px;
    width: 120px;
}

#box {
    display: flex;
    margin: 20px;
    gap: 20px;
}